@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

@import url(./font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #020412;
  font-family: "Poppins", sans-serif;
}
:root {
  --primaryColor: #f3950d;
  font-size: 16px;
}
.main-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 2rem;
  position: relative;
  color: white;
}
nav {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 30px 0 10px;
}
.logo {
  width: 230px;
  cursor: pointer;
}
.menu-bars {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  cursor: pointer;
}
.one, .two, .three {
  background-color: var(--primaryColor);
  border-radius: 1.5rem 0 0 1.5rem;
}
.menu-bars .one {
  width: 100%;
  height: 13px;
}
.menu-bars .two {
  width: 75%;
  height: 12px;
}
.menu-bars .three {
  width: 60%;
  height: 10px;
}
nav ul {
  flex: 1;
  text-align: center;
  padding-right: 40px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  transition: .3s;
}
nav ul li a:hover {
  color: var(--primaryColor) ;
}
.text-box {
  margin-top: 3%;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 26px;
  padding: 10px
}
.text-box h1 {
  font-size: 3.2rem;
  line-height: 120px;
  font-weight: 600;
  position: relative;
}
.slider {
  width: 50%;
  height: 2px;
  background-color: var(--primaryColor);
  position: relative;
  margin-bottom: 1rem;
}
.slider::before {
  content: "";
  position: absolute;
  width: 14%;
  height: 16px;
  background-color: var(--primaryColor);
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
  border-radius: 1rem;
}
.text-box span.cy {
  color: var(--primaryColor);
  font-family: "DoubleBass", sans-serif;
  letter-spacing: 10px;
  font-size: 4rem;
}
.text-box span.auto-input {
  color: greenyellow;
}
.text-box p {
  width: 100%;
  max-width: 700px;
}
.text-box a {
  margin-top: 30px;
  display: inline-block;
  border-radius: 6px;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  padding: 10px 30px;
  text-decoration: none;
  transition: .5s;
}
.text-box a:hover {
  opacity: .7;
}
.text-box .btn {
  background-color: var(--primaryColor);
  color: #000;
  margin: 30px;
  font-weight: 600;
}
.user-img {
  width: 320px;
  position: absolute;
  right: 6rem;
  bottom: 0;
  z-index: -100000;
}

.showcase-form {
  height: auto;
  width: 100%;
  max-width: 40rem;
  padding:1.5rem 2.5rem;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  animation: slideInFromRight 1s ease-in-out;
  background-color: var(--primaryColor);
  border-radius: 10px;
}

.showcase-form:hover {
  transform: scale(1.05);
}
.form-control {
  margin: 1.87rem 0;
}
.showcase-form input[type="text"], .showcase-form input[type="password"] {
  border: none;
  border-bottom: 1px solid var(--primaryColor);
  width:100%;
  padding:10px;
  font-size: 1rem;
  border-radius: .5rem;
}

.showcase-form input[type="text"]:focus, .showcase-form input[type="password"]:focus {
  outline:none;
}
.btn {
  padding: 10px 30px;
  cursor: pointer;
  background-color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: .5rem;
  outline: none;
  font-weight: 600;
  border: none;
}

.curve {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 280px;
  z-index: -10000;
}
.curve img {
  width: 100%;
  height: 100%;
}
@keyframes slideInFromRight {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;

  }
}

@media screen and (max-width : 1200px) {
  :root {
    font-size: 15px;
  }
}
@media screen and (max-width : 1200px) {
  :root {
    font-size: 14px;
  }
  .user-img {
    width: 300px;
  }
}
@media screen and (max-width : 1024px) {
  .user-img {
    width: 280px;
  }
  .logo {
    width: 200px;
  }
  .text-box h1 {
    font-size: 2.8rem;
    line-height: 100px;
  }
  .text-box a {
    padding: 8px 20px;
  }
  .showcase-form {
    max-width: 38rem;
    padding:1.2rem 2.2rem;
  }
  .curve {
    height: 250px;
  }
}
@media screen and (max-width : 860px) {
  :root {
    font-size: 13px;
  }
  nav {
    justify-content: space-between;
  }
  .logo {
    width: 180px;
  }
  .menu-bars {
    width: 120px;
    height: 90px;
  }
  .text-box h1 {
    font-size: 2.4rem;
  }
  .slider {
    width: 40%;
    margin-bottom: .8rem;
  }
  .curve {
    height: 200px;
  }
}
@media screen and (max-width : 700px) {
  :root {
    font-size: 12px;
  }
 nav ul {
    display: none;
  }
  .logo {
    width: 170px;
  }
  .menu-bars {
    width: 140px;
    height: 100px;
  }
  .slider {
    width: 80%!important;
    margin: 0 auto;
  }
  .text-box {
    text-align: center;
  }
  .text-box h1 {
    font-size: 2.8rem;
    line-height: 50px;
    margin: 3rem 0rem;
  }
  .text-box p {
    font-size: 1.3rem;
  }
  .slider {
    width: 40%;
    margin-bottom: .8rem;
  }
  .curve {
    height: 200px;
  }
  .showcase-form {
    margin: 2rem auto 0;
  }
}
@media screen and (max-width : 550px) {
  .logo {
    width: 140px;
  }
  .menu-bars {
    width: 130px;
    height: 80px;
  }
  :root {
    font-size: 11px;
  }
}
